%title Video News

%meta{:content=>"Video News", :name=>'description'}

%meta{:content=>'Video News', :property=>'og:site_name'}
/%meta{:content=>"#{title} - #{description}", :property=>'og:description'}
/%meta{:content=>title, :property=>'og:title'}
/%meta{:content=>"#{request.protocol}#{request.host_with_port}#{request.fullpath}", :property=>'og:url'}
/%meta{:content=>image, :property=>'og:image'}
/%meta{:content=>'website', :property=>'og:type'}
/
/%meta{:content=>'242371292554988', :property=>'fb:app_id'}
/%meta{:content=>'shawn.janas.9', :property=>'fb:admins'}
